<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</h1>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @restaurant.stars %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<h1>Reviews</h1>


  <% @restaurant.reviews.each do |r| %>
  <p><%= r.rating %></p>
  <p><%= r.content %></p>
  <p><%=  %></p>
  <% end%>



<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<%= link_to 'Add review', new_restaurant_review_path(@restaurant) %>
